<div class ="businfo">
	<strong>Refreshing In:</strong>
	<span id="countDown"></span> Seconds.
</div>
<div class="businfo">
	<strong>Times Retrieved At:</strong>
	<%= Time.now.strftime("%I:%M %p") %>
</div>
<div id ="doit">
</div>
<br>


<%= link_to "add a route",  new_bustime_url %>