<div class ="businfo">
	<strong>Refreshing In:</strong>
	<span id="countDown"></span> Seconds.
</div>
<div class="businfo">
	<strong>Times Retrieved At:</strong>
	<% @time = Time.now - 6.hours %>
	<%= @time.strftime("%I:%M %p") %>
</div>
<% @bustimes.each do |b| %>
	<div class="bustime">
		<h2> Route <%= b.routenum  %> </h2>
		<% @stops = b.stopid.split(',') %>
			<% @stops.each do |t| %>
				<%= getTime(b.routenum, t, @key.apikey) %>
			<% end %>
	</div>
<% end %>	
<br>



<%= link_to "add a route",  new_bustime_url %>